MODE=dev # dev | prod

# DB Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=intranetantonelly
DATABASE_URL="postgresql://postgres:postgres@db:5432/intranetantonelly?schema=public"
DATABASE_HOST=http://localhost
DATABASE_PORT=5434

# JWT Config
JWT_SECRET=seuSegredoSuperSecreto
JWT_EXPIRES_IN=1h
RESET_TOKEN_EXPIRES_IN=15m

# API Config
PORT=3005
API_URL=http://localhost:3005
FRONTEND_URL=http://localhost:3300

# Email configuration
MAIL_HOST=smtp.email.com
MAIL_PORT=587
MAIL_USER=your_email@email.com
MAIL_PASS=your-email-password
MAIL_FROM="NO-REPLY Intranet Antonelly <your_email@email.com>"

# Default Users Config
SUPERADMIN_USERNAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=

# Securiry Config
PASSWORD_SALTS=

# Timezone Config
TZ=America/Manaus